

#navigation {
  background-color: red;
}
#header {
  background-color: blue;
}
#subnavigation {
  background-color: green;
}
#main {
  background-color: yellow;
}
#files {
  padding: 20px;
  background-color: purple;
}
#metabar {
  padding: 20px;
  background-color: gray;
}
